numpy
matplotlib
sklearn
ipykernel
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.9.1+cu111
-f https://data.pyg.org/whl/torch-1.9.1+cu111.html
torch-scatter 
-f https://data.pyg.org/whl/torch-1.9.1+cu111.html
torch-sparse 
-f https://data.pyg.org/whl/torch-1.9.1+cu111.html
torch-cluster
-f https://data.pyg.org/whl/torch-1.9.1+cu111.html
torch-spline-conv 
-f https://data.pyg.org/whl/torch-1.9.1+cu111.html
torch-geometric 